<!DOCTYPE html>
<html>
<head>
<title>@ViewData["Title"] - OdeToFoodPrepExam</title>
</head>
<body>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
@RenderBody();
</body>
</html>